<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Div para o mapa ocupando 100% da altura e largura da página -->
  <div style="height: 100%; width: 100%;">
    <google-map
      height="100%"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="addMarker($event)"
    >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [title]="marker.title"
      ></map-marker>
    </google-map>
  </div>

  <!-- Barra de navegação -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map" [routerLink]="['/map']">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="comments" [routerLink]="['/comments']">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Comentários</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
